@media screen and (min-width: 481px) {
  .pageTitle {
    font-size: 80px;
    font-family: "romance-logic";
  }
  .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .pageTitle {
    font-size: 40px;
    font-family: "romance-logic";
  }
  .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
  }
}

.link {
  margin-right: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.link:hover {
  color: black;
}

.hello {
  font-family: "ananda-black";
  font-size: 50px;
}
