@font-face {
  font-family: "romance-logic";
  src: url("../assets/fonts/romance-logic.ttf");
  font-display: swap;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100vw;
  margin-block: 10px;
  margin-top: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 100vw;
  border: 1px solid white;
}
body {
  background-color: #eeeff1;
}

.bodyBox {
  min-height: 100vh;
  background-color: #eeeff1;
  font-family: Arial, Helvetica, sans-serif;
}
.arial {
  font-family: Arial;
}

.aLink {
  color: black;
  text-decoration: none;
}
.aLink:hover {
  color: black;
  cursor: pointer;
}

.titleHeader {
  font-size: 5rem;
  font-family: "romance-logic";
}

.rectangleBox {
  width: 250px;
  height: 250px;
  border: 2px solid black;
}

.imageBox {
  width: 240px;
  height: 155px;
  border: 1px solid black;
}

.margin1 {
  margin-top: 5rem;
}
.margin2 {
  margin-top: 15rem;
}
