.container {
  height: 100vh;
  background-color: #eeeff1;
  padding-left: 30px;
  padding-top: 30px;
}
.pageTitle {
  font-size: 80px;
  font-family: "romance-logic";
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
